# Игнорировать временные и кэшированные файлы
__pycache__/
*.py[cod]
*.pyo

# Игнорировать временные файлы операционной системы
*.log
*.tmp
*.bak
*.swp
*.swo

# Игнорировать бинарные файлы
*.exe
*.dll
*.so
*.dylib
*.o
*.a

# Игнорировать файлы IDE и редакторов
.idea

# Игнорировать файлы системных резервных копий
*~

# Игнорировать другие ненужные файлы (например, динамически генерируемые)
*.cache
*.coverage
*.pytest_cache/

